$common_color : blue;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active {
    color: $common_color !important;
    border-bottom: 1px solid $common_color;
}

.animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}